.App {
  text-align: center;
}

.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
}

.poke-card {
  width: 200px;
  margin: 1%;
  border-radius: 10%;
  border: 3px solid gold;
}

.selected {
  border: 3px solid red;
  background: green;
}